.shadowCard {
    width: 400px;
    box-shadow: 10px 10px 10px 10px blue;
    text-align: left;
    border-radius: 10px 20px;  
}

/*
  div.card {
    width: 500px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    text-align: center;
  }
  */
  button{
      border-radius: 15px 15px ;
  }