<mat-toolbar color='primary'>
    <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
     <mat-icon>menu</mat-icon>
   </button>
   <span>Ajouter un client :</span>
   <span class="example-spacer"></span>
   <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
     <mat-icon>favorite</mat-icon>
   </button>
   <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
    <mat-icon>assistant</mat-icon>
  </button>
</mat-toolbar>
<div class="container">
    <div class="row">
        <div class="offset col-5">
            <div class="form-group">
              <label for="firstName">Nom:</label>
              <input type="text"
                  class="form-control form-control-sm" name="firstName" id="firstName" placeholder="votre nom">
            </div>
            <div class="form-group">
                <label for="firstName">First name:</label>
                <input type="text"
                    class="form-control form-control-sm" name="firstName" id="firstName" placeholder="votre nom">
              </div>
              <div class="form-group">
                <label for="firstName">First name:</label>
                <input type="text"
                    class="form-control form-control-sm" name="firstName" id="firstName" placeholder="votre nom">
              </div>
        </div>

    </div>
</div>
