<mat-toolbar color='primary'>
    <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
     <mat-icon>menu</mat-icon>
   </button>
   <span>liste clients : </span>
   <span class="example-spacer"></span>
   <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
     <mat-icon>favorite</mat-icon>
   </button>
   <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
    <mat-icon>assistant</mat-icon>
  </button>
 </mat-toolbar>
<div *ngIf="clients?.length>0">
<h3>Liste des clients :</h3>
<table class="table table-striped table-dark table-responsive">
    <thead class="thead-inverse">
        <tr>
            <th>
                <a routerLink='client/add'>
                    <i class="fa fa-plus-circle styleFa"  aria-hidden="true"></i>
                </a>
            </th>
            <th>LastName</th>
            <th>FirstName</th>
            <th>Adresse</th>
            <th>Data of Birth</th>
            <th>Phone</th>
            <th>Email</th>
            <th>Balance</th>
             <th></th>
        </tr>
        </thead>
        <tbody>
            <tr *ngFor="let client of clients">
                <td>
                    <a [routerLink]="[ 'client/edit', client.id]">
                        <i class="fa fa-edit styleFa "></i>
                    </a>
                </td>
                <td scope="row">{{client.lastName}}</td>
                <td>{{client.firstName}}</td>
                <td>{{client.adresse}}</td>
                <td>{{client.dateOfBird}}</td>
                <td>{{client.phone}}</td>
                <td>{{client.email}}</td>
                <td>{{client.balance}}</td>
                <td>
                    <a [routerLink]="[ '/client/show', client.id]" >
                      <i class="fa fa-eye styleFa" aria-hidden="true"></i>
                    </a>
                </td>
                <td>
                    <a (click)="onDeleteClient(client)" >
                        <i class="fa fa-trash styleFa" aria-hidden="true"></i>
                      </a>
                </td>          
            </tr>
        </tbody>
</table>
</div>