<app-navbar></app-navbar>
<br>
<div class="row spacerRow heigth">
   <div class="offset-2 col-7 col-sm-7 spacerRow">
      <flash-messages></flash-messages>
      <router-outlet></router-outlet>
   </div>
   <div class="col-2  col-sm-2 spacerRow">
        <div class="list-group">
           <button type="button" class="list-group-item list-group-item-action active">a faire</button>
           <button type="button" class="list-group-item list-group-item-action">A faire</button>
           <button type="button" class="list-group-item list-group-item-action "> a faire</button>
        </div>
   </div>
    
</div>
<div class="container">
   <app-footer></app-footer>

</div>
