<div class="row">
     <div class="offset-5 ">
         <div class="card shadowCard">
             <div class="card-body">
                 <h1 class="text-center">
                     <span class="text-primary">
                         <i class="fa fa-lock" aria-hidden="true"></i>Se connecter
                     </span>Client
                 </h1>
                 <form #formLogin="ngForm" (ngSubmit)="onSeConnecte()">
                     <div class="form-group">
                       <label for="email">Login/Email</label>
                       <input type="text" name="email" [(ngModel)]="email" id="email" class="form-control" placeholder="vote email" >
                     </div>
                     <div class="form-group">
                        <label for="password">Password</label>
                        <input type="password" name="password" [(ngModel)]="password" id="password" class="form-control" placeholder="mot de passe..." >
                      </div>
                      <div class="form-group">
                        <button type="submit" class="btn btn-block btn-dark">
                            <i class="fa fa-database" aria-hidden="true"></i>&nbsp;&nbsp;S'authentifié
                        </button>
                        <button (click)="OnseConnecteAvecCompteGoogle()" class="btn btn-block btn-danger">
                            <i class="fa fa-google-plus" aria-hidden="true"></i>&nbsp;&nbsp;Google+

                        </button>
                        <button class="btn btn-block btn-info">
                            <i class="fa fa-facebook-square" aria-hidden="true"></i>&nbsp;&nbsp;
                            Facebook
                        </button>
                      </div>
                 </form>
             </div>
         </div>

     </div>

</div>>
