/* You can add global styles to this file, and also import other style files */

.styleFa{
    font-size: 30px;
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.spacerRow{
    margin-top: 10px;
}

.form-control.ng-invalid.ng-touched{
    border: 2px solid red;
}
.form-control.ng-valid.ng-untouched{
    border: 2px solid green;
}

.mandatory{
    color:red;
}